/* ============================================
   home.css — เฉพาะ HomeView.vue
   ============================================ */

.home-container {
  width: 600px;
}
.container {
  background: #ffffff;
  width: 500px;
  padding: 35px;
  border-radius: 40px;
  box-shadow: 0 15px 35px rgba(10, 10, 10, 0.836);
}


.home-menu {
  display: grid;
  gap: 16px;
  margin: 10px 0 20px;
}

.home-card {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 20px;
  border-radius: 12px;
  border: 1.5px solid #b9b5b5;
  text-decoration: none;
  color: #0f0f0f;
  transition: all 0.2s;
  box-shadow: 0 15px 35px rgba(102, 101, 101, 0.589);
}

.home-card:hover {
  border-color: #faf4f4;
  background: #3f3e3f73;
}

.home-card i {
  font-size: 26px;
  color: #470a0a;
  width: 36px;
  text-align: center;
}

.home-card h3 {
  font-size: 24px;
  margin-bottom: 4px;
}

.home-card p {
  font-size: 16px;
  color: rgb(59, 45, 97);
}

.header-section {
  text-align: center;
}
